# Исключаем файл с переменными окружения
.env

# Исключаем файл с cookies
cookies.txt

# Исключаем папку для скачанных файлов
downloads/

# Исключаем файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем виртуальное окружение
venv/
ENV/
env/
.venv/

# Исключаем логи и временные файлы
*.log
*.tmp
*.bak

# Исключаем IDE-файлы (например, для VS Code)
.vscode/
.idea/

# Исключаем файлы, созданные операционной системой
.DS_Store
Thumbs.db

# Исключаем другие ненужные файлы
*.sqlite3
*.db